# Time Series Analysis for sales prediction.

This notebook explores and builds a model to predict sales revenue based on various features. Initial model only considers the total sales for a particular date and the date of the sales.

## Aim:
Predict the total sales for a given period (daily, weekly or monthly)

## Dataset:
The dataset contains the following features:
- `Date`: Daily records from [start_date] to [end_date].
- `Store ID` & `Product ID`: Unique identifiers for stores and products.
- `Category`: Product categories like Electronics, Clothing, Groceries, etc.
- `Region`: Geographic region of the store.
- `Inventory Level`: Stock available at the beginning of the day.
- `Units Sold`: Units sold during the day.
- `Price`: Price of a unit of product sold.
- `Discount`: Discount given for a particular sale.
- `Demand Forecast`: Predicted demand based on past trends.
- `Weather Condition`: Daily weather impacting sales.
- `Holiday/Promotion`: Indicators for holidays or promotions.

Units Ordered,Demand Forecast,,Weather Condition,Holiday/Promotion,Competitor Pricing,Seasonality

A simple ARIMA model would be created for forecasting the total (aggregated) sales for each day. This would serve as a baseline to evaluate the performance of subsequent models.

In [2]:
# Import libraries
import pandas as pd

In [3]:
# Import data
df = pd.read_csv("../data/retail_store_inventory.csv")

# Display basic info
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73100 entries, 0 to 73099
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                73100 non-null  object
 1   Store ID            73100 non-null  object
 2   Product ID          73100 non-null  object
 3   Category            73100 non-null  object
 4   Region              73100 non-null  object
 5   Inventory Level     73100 non-null  int64
 6   Units Sold          73100 non-null  int64
 7   Units Ordered       73100 non-null  int64
 8   Demand Forecast     73100 non-null  float64
 9   Price               73100 non-null  float64
 10  Discount            73100 non-null  int64
 11  Weather Condition   73100 non-null  object
 12  Holiday/Promotion   73100 non-null  int64
 13  Competitor Pricing  73100 non-null  float64
 14  Seasonality         73100 non-null  object
dtypes: float64(3), int64(5), object(7)
memory usage: 8.4+ MB

,Date,Store ID,Product ID,Category,Region,Inventory Level,Units Sold,Units Ordered,Demand Forecast,Price,Discount,Weather Condition,Holiday/Promotion,Competitor Pricing,Seasonality
0,2022-01-01,S001,P0001,Groceries,North,231,127,55,135.47,33.50,20,Rainy,0,29.69,Autumn
1,2022-01-01,S001,P0002,Toys,South,204,150,66,144.04,63.01,20,Sunny,0,66.16,Autumn
2,2022-01-01,S001,P0003,Toys,West,102,65,51,74.02,27.99,10,Sunny,1,31.32,Summer
3,2022-01-01,S001,P0004,Toys,North,469,61,164,62.18,32.72,10,Cloudy,1,34.74,Autumn
4,2022-01-01,S001,P0005,Electronics,East,166,14,135,9.26,73.64,0,Sunny,0,68.95,Summer

In [4]:
# Check for null values 
df.isnull().sum()

Date                  0
Store ID              0
Product ID            0
Category              0
Region                0
Inventory Level       0
Units Sold            0
Units Ordered         0
Demand Forecast       0
Price                 0
Discount              0
Weather Condition     0
Holiday/Promotion     0
Competitor Pricing    0
Seasonality           0
dtype: int64

The data appears clean and there are no null values, hence no need to drop rows.

In [ ]:
# Data aggregation to follow

This notebook and its contents are intended for educational purposes only. Feel free to explore.